/* Fontdeck style cheatsheet
Museo Sans 100
    font-family: 'Museo Sans 100', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;

Apercu Mono Regular
    font-family: 'Apercu Mono Regular', 'Andale Mono', monospace;
    font-size-adjust: 0.5;
    font-weight: normal;
    font-style: normal;
*/

.top-bar {
    margin-bottom: 0;
}
.top-bar .top-bar-section {
    font-family: 'Museo Sans 100', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}
.top-bar .top-bar-section li a {
    font-weight: 100;
    text-transform: uppercase;
}
.blowout {
    position: relative;
    width: 100%;
    /* Photo: Dead Admin
       Copyright 2008, Arthur Caranta (CC-A-SA)
       http://www.flickr.com/photos/arthur-caranta/2926332140/ 
    */
    background: #000 url(/static/images/dead-admin-1920x450.jpg) no-repeat center top;
}
.blowout.large {
    height: 450px;
}
.blowout.small {
    height: 100px;
}
.blowout > .row {
    position: relative;
    height: 100%;
}
.blowout > .row > .columns {
    position relative;
    height: 100%;
}
.blowout > .row > .columns > .row.top {
    position: absolute;
    top: 0;
    color: white;
}
.blowout > .row > .columns > .row.bottom {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
}
.blowout h3, .blowout h6 {
    color: white;
}
.blowout h6 {
    bottom: 0;
    opacity: 0.35;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Museo Sans 100', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}
nav.top-bar ul.title-area li.name {
    font-family: 'Museo Sans 100', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 275%;
    color: white;
    padding-left: 0.5em;
}
#posts > .row > div > h1 {
    margin-bottom: 0;
}
#posts > .row > div > small.post-date {
    display: block;
    font-family: 'Museo Sans 100', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #999;
    margin-bottom: 1em;
}
pre, code {
    font-family: "Apercu Mono Regular", 'Andale Mono', monospace;
    font-size: 90%;
    font-weight: normal !important;
}
code .lnr       { color: #94bfb8; margin-right: 0.4em; }
code .PreProc   { color: #ff6060; }
code .String    { color: #008080; }
code .Constant  { color: #af5f00; }
code .Type      { color: #008000; }
code .Function  { color: #af5f00; }
code .Special   { color: #af5f00; }
code .Statement { color: #0f87af; }
