    </div>
    <div class="medium-4 columns sidebar">
        <div class="title">
            <div class="row">
                <div class="medium-12 columns text-right">
                    <p>Automa</p>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 columns text-right">
                    <p>toma</p>
                </div>
                <div class="medium-2 columns text-center">
                    <p>&bull;</p>
                </div>
                <div class="medium-2 columns text-right">
                    <p>c</p>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 columns text-right">
                    <p>troma</p>
                </div>
                <div class="medium-2 columns text-center">
                    <p>&bull;</p>
                </div>
                <div class="medium-2 columns text-right">
                    <p>o</p>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 columns text-right">
                    <p>ton</p>
                </div>
                <div class="medium-2 columns text-center">
                    <p>&bull;</p>
                </div>
                <div class="medium-2 columns text-right">
                    <p>m</p>
                </div>
            </div>
        </div>
        <!--<h1>Automa<br/>toma &bull; c<br/>troma &bull; o<br/>ton &bull; m</h1>-->
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://github.com/jsime">GitHub</a></li>
        </ul>
    </div>
</div>

  <script src="/public/js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
  </body>
</html>
